<!-- admin_register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<style>
        .register {
            width: 100vw;
            display: grid;
            place-items: center;
        }

        .flash-messages {
            list-style: none;
            padding: 0;
        }

        .flash-message {
            color: #721c24;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        <!-- Flash messages display -->
    {% endwith %}

    <h1>Admin Registration</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label for="email">{{ form.email.label }}</label>
        <input type="text" id="email" name="email" value="{{ form.email.data|default('') }}">
        <br>
        <label for="password">{{ form.password.label }}</label>
        <br>
        {{ form.password }}
        <br>
        {{ form.submit }}
    </form>

    <a href="{{ url_for('login') }}">Click here to Log in</a>
</body>
</html>
