<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Your head content here -->
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash-messages">
      {% for message in messages %}
        <li class="flash-message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Register</h1>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <label for="email">{{ form.email.label }}</label>
    <input type="text" id="email" name="email" value="{{ form.email.data|default('') }}">
    <br>
    <label for="password">{{ form.password.label }}</label>
    {{ form.password }}
    <br>
    {{ form.submit }}
</form>


<a href="{{ url_for('login') }}">Click here to Log in</a>
</body>
</html>
